<div>
    <button 
        tuiButton 
        icon="tuiIconLock"
        (click)="openRegisterPopup(template)"
        *ngIf="!loggedIn"
    >
        Register
    </button>
</div>

<ng-template #template let-observer>
    <form 
        [formGroup]="registerForm"
        (ngSubmit)="register()"
    >
        <h3 class="text-center text-3xl">S'enregistrer</h3>
        <div>
            <tui-input 
                formControlName="username"
                tuiHintContent="username"
            >
                Username
                <input tuiTextfield />
            </tui-input>

            <tui-input-password 
                formControlName="password"
                tuiHintContent="password"
            >
                Password
            </tui-input-password>

            <tui-input-password 
                formControlName="confirmPassword"
                tuiHintContent="confirmPassword"
            >
                Confirm Password
            </tui-input-password>

            <button 
                tuiButton 
                type="submit"
            >
                S'inscrirer
            </button>
        </div>
    </form>
</ng-template>