<div>
    <button 
        tuiButton 
        icon="tuiIconLock"
        (click)="openLoginPopup(template)"
        *ngIf="!loggedIn"
    >
        Login
    </button>
    <button 
        tuiButton 
        icon="tuiIconLock"
        (click)="logout()"
        *ngIf="loggedIn"
    >
        Logout
    </button>
</div>

<ng-template #template let-observer>
    <form 
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        *ngIf="!loggedIn"
    >
        <h3 class="text-center text-3xl">Se connecter</h3>
        <div>
            <tui-input 
                formControlName="login"
                tuiHintContent="login"
            >
                Login
                <input tuiTextfield />
            </tui-input>

            <tui-input-password 
                formControlName="password"
                tuiHintContent="password"
            >
                Password
            </tui-input-password>

            <button 
                tuiButton 
                type="submit"
            >
                Se connecter
            </button>
        </div>
    </form>
    <div *ngIf="loggedIn">
        Vous êtes connecté !
    </div>
</ng-template>